<h1>Songs</h1>

<%= form_with url: songs_path, method: :get, local: true, html: {class: "search-bar-container"} do |form| %>
  <%= form.label :q, "Search by song title or artist name:" %>
  <%= form.text_field :q, value: params[:q], placeholder: "Enter search term..." %>
  <%= form.submit "Search" %>
<% end %>

<ul>
  <% @songs.each do |song| %>
    <li class="fancy-list">
      <div class="fancy-text">
        <strong><%= song.title %></strong>
        <% if song.artists.any? %>
          <span>by <%= song.artists.map(&:name).join(", ") %></span>
        <% end %>
      </div>
      <div class="song-actions" style="margin-top: 0.5em;">
        <%= link_to "Show", song_path(song), class: "btn btn-show" %>
        <% if policy(Song).edit? %>
          <%= link_to 'Edit', edit_song_path(song), class: "btn btn-edit" %>
          <% if current_user&.admin %>
            <%= link_to 'Delete', song_path(song), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
