<h1 class="fancy-title">Edit Genre</h1>

<%= form_with(model: @genre, local: true) do |form| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation" class="error-box">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input-field" %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Genre', class: "submit-button" %>
  </div>
<% end %>

<%= link_to 'Back to Genres List', genres_path, class: "back-link" %>
