<h1>New Song</h1>

<%= form_with(model: @song, local: true) do |form| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :artists %><br>
    <%= form.collection_check_boxes :artist_ids, @artists, :id, :name %>
    <% if @song.errors[:artist_ids].any? %>
      <div class="error_messages">
        <ul>
          <% @song.errors[:artist_ids].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :genres %><br>
    <%= form.collection_check_boxes :genre_ids, @genres, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Song' %>
  </div>
<% end %>

<%= link_to 'Back to Songs List', songs_path %>

