<h1 class="fancy-title">Genres</h1>

<%= form_with url: genres_path, method: :get, local: true do |form| %>
  <%= form.label :q, "Search by genre name:" %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.submit "Search" %>
<% end %>

<ul>
  <% @genres.each do |genre| %>
    <li class="fancy-list"><span class="fancy-text"><%= genre.name %></span></li>
  <% end %>
</ul>

<%= link_to 'Home', songs_path, class: "back-link" %>