<h1 class="fancy-title">Artists</h1>

<%= link_to 'Add New Artist', new_artist_path, class: "fancy-link" %>
<br><br>

<ul>
  <% @artists.each do |artist| %>
    <li class="fancy-list">
      <span class="fancy-text"><%= artist.name %></span>
      <%= link_to 'Show', artist_path(artist) %>
      <%= link_to 'Edit', edit_artist_path(artist) %>
      <%= link_to 'Delete', artist_path(artist), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Home', songs_path, class: "back-link" %>
